body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    align-items: center;
    background-image: url("fundo.png");
}
  
.container {
 display: flex;
}

.btnsataque {
    visibility: visible;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.tabelamovimento{
    width: 875px;
    height: 500px;

}
.inventario{
    margin-right: 20px;
    margin-left: 20px;
    background-image: url("fundolateral.png");
    width: 360px;
    height: 620px;
    padding: 20px;
}

.fog{
    padding: 0;
    width: 43px;
    height: 43px;

}

.mapa {
    width: 1000px;
    height: 660px;
    background-image: url("mapapixel2.png");
    border-bottom: solid 10px #000;
}

.combate{
    visibility: collapse;
    background-image: url("fundocombate.png");
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.combtext{
    display: flex;
    width: 700px;
    height: 200px;
    justify-content: center;
    text-align: center;
}



.botoes{
    background-image: url("fundobotao.png");
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    width: 300px;
    height: 65px;
    margin-top: 10px;
    padding-top: 15px;
}
.object {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}
  
.btnseta{
    font-size: 40px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.botoescombate{
    width: 700px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-bottom: solid 5px #b4b4b4;
}

.btncombate{
    background-color: #39241b;
    color: rgb(179, 177, 177);
    width: 150px;
    height: 50px;
    border: solid 3px;
    border-radius: 10px;
    border-color: rgb(165, 164, 164);
    margin: 10px;
}